<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>סטטוס מחשבים מעבדת לוט"ם</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/static/img/LotemEmblem.png">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>.modal-header .close {margin-left: 0;}</style>
</head>

<body id="page-top">
    <!-- As a link -->
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand text-light" href="#">מעבדת לוט"ם</a>
        <img class="text-right" src="/static/img/LotemEmblem.png" width="35" height="35" alt="">
    </nav>
    <div class="container-fluid mt-3">
        <div class="row-fluid">
            <h1 class="text-right">סטטוס מחשבים</h1>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="text-right card border-left-danger shadow pt-2 pb-1 pr-2 mb-2">לא טופלו</h3>
                <table class="table table-hover text-right table-responsive mh-100" style="height: 600px;">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">שם מלא</th>
                            <th scope="col">תאריך כניסת מחשב</th>
                            <th scope="col">הפעולה הנדרשת</th>
                            <th scope="col">פרמוט לרשת</th>
                            <th scope="col">מספר סריאלי</th>
                            <th scope="col">סגמנט במשרד</th>
                            <th scope="col">יחידה</th>
                            <th scope="col">מספר אישי/ת.ז</th>
                            <th scope="col">מייל אזרחי</th>
                            <th scope="col">טלפון אזרחי</th>
                            <th scope="col">הערות</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for response in waiting_responses %}
                        <tr data-toggle="modal" data-id="{{ loop.index }}" data-serialNum="{{ response['מספר סריאלי'] }}" data-responseid="{{ response['מזהה תשובה'] }}" data-target="#alert-modal-waiting" data-email="{{ response['מייל אזרחי'] }}" data-modal="waiting">
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ response['שם מלא'] }}</th>
                            <td>{{ response['תאריך כניסת מחשב'] }}</th>
                            <td>{{ response['הפעולה הנדרשת'] }}</th>
                            <td>{{ response['פרמוט לרשת'] }}</th>
                            <td>{{ response['מספר סריאלי'] }}</th>
                            <td>{{ response['סגמנט במשרד'] }}</th>
                            <td>{{ response['יחידה'] }}</th>
                            <td>{{ response['מספר אישי/ת.ז'] }}</th>
                            <td>{{ response['מייל אזרחי'] }}</th>
                            <td>{{ response['טלפון אזרחי'] }}</th>
                            <td>{{ response['הערות'] }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4">
                <h3 class="text-right card border-left-warning shadow pt-2 pb-1 pr-2 mb-2">טופלו ולא נלקחו</h3>
                <table class="table table-hover text-right table-responsive mh-100" style="height: 600px;">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">שם מלא</th>
                            <th scope="col">תאריך כניסת מחשב</th>
                            <th scope="col">הפעולה הנדרשת</th>
                            <th scope="col">פרמוט לרשת</th>
                            <th scope="col">מספר סריאלי</th>
                            <th scope="col">סגמנט במשרד</th>
                            <th scope="col">יחידה</th>
                            <th scope="col">מספר אישי/ת.ז</th>
                            <th scope="col">מייל אזרחי</th>
                            <th scope="col">טלפון אזרחי</th>
                            <th scope="col">הערות</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for response in not_taken_responses %}
                            <tr data-toggle="modal" data-id="{{ loop.index }}" data-serialNum="{{ response['מספר סריאלי'] }}" data-responseid="{{ response['מזהה תשובה'] }}" data-target="#alert-modal-not-taken" data-email="{{ response['מייל אזרחי'] }}" data-modal="not-taken">
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ response['שם מלא'] }}</th>
                                <td>{{ response['תאריך כניסת מחשב'] }}</th>
                                <td>{{ response['הפעולה הנדרשת'] }}</th>
                                <td>{{ response['פרמוט לרשת'] }}</th>
                                <td>{{ response['מספר סריאלי'] }}</th>
                                <td>{{ response['סגמנט במשרד'] }}</th>
                                <td>{{ response['יחידה'] }}</th>
                                <td>{{ response['מספר אישי/ת.ז'] }}</th>
                                <td>{{ response['מייל אזרחי'] }}</th>
                                <td>{{ response['טלפון אזרחי'] }}</th>
                                <td>{{ response['הערות'] }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4">
                <h3 class="text-right card border-left-success shadow pt-2 pb-1 pr-2 mb-2">טופלו ונלקחו</h3>
                <table class="table table-hover text-right table-responsive mh-100" style="height: 600px;">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">שם מלא</th>
                            <th scope="col">תאריך כניסת מחשב</th>
                            <th scope="col">הפעולה הנדרשת</th>
                            <th scope="col">פרמוט לרשת</th>
                            <th scope="col">מספר סריאלי</th>
                            <th scope="col">סגמנט במשרד</th>
                            <th scope="col">יחידה</th>
                            <th scope="col">מספר אישי/ת.ז</th>
                            <th scope="col">מייל אזרחי</th>
                            <th scope="col">טלפון אזרחי</th>
                            <th scope="col">הערות</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for response in taken_responses %}
                        <tr data-toggle="modal" data-id="{{ loop.index }}" data-serialNum="{{ response['מספר סריאלי'] }}" data-responseid="{{ response['מזהה תשובה'] }}" data-target="#alert-modal-taken" data-email="{{ response['מייל אזרחי'] }}" data-modal="taken">
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ response['שם מלא'] }}</th>
                            <td>{{ response['תאריך כניסת מחשב'] }}</th>
                            <td>{{ response['הפעולה הנדרשת'] }}</th>
                            <td>{{ response['פרמוט לרשת'] }}</th>
                            <td>{{ response['מספר סריאלי'] }}</th>
                            <td>{{ response['סגמנט במשרד'] }}</th>
                            <td>{{ response['יחידה'] }}</th>
                            <td>{{ response['מספר אישי/ת.ז'] }}</th>
                            <td>{{ response['מייל אזרחי'] }}</th>
                            <td>{{ response['טלפון אזרחי'] }}</th>
                            <td>{{ response['הערות'] }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div id="alert-modal-waiting" class="modal fade text-right alert-modal" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title-waiting" class="modal-title text-right"></h5>
                    <button type="button" class="close mr-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('set_row_status', action='move from waiting to not taken') }}">
                        <input type="hidden" class="serial-number-waiting" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-waiting" name="response_id" value="" readonly>
                        <input type="hidden" class="email-waiting" name="email" value="" readonly>
                        <button type="submit" class="btn btn-warning btn-lg btn-block mb-4" data-serial-number="" data-responseid="">העברה למחשבים שטופלו ולא נלקחו</button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='move from waiting to taken') }}">
                        <input type="hidden" class="serial-number-waiting" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-waiting" name="response_id" value="" readonly>
                        <input type="hidden" class="email-waiting" name="email" value="" readonly>
                        <button type="submit" class="btn btn-success btn btn-block mb-1" data-serial-number="" data-responseid="">העברה למחשבים שטופלו ונלקחו</button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='delete') }}">
                        <input type="hidden" class="serial-number-waiting" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-waiting" name="response_id" value="" readonly>
                        <input type="hidden" class="email-waiting" name="email" value="" readonly>
                        <button type="submit" class="btn btn-danger btn btn-block delete-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-modal-not-taken" class="modal fade text-right alert-modal" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title-not-taken" class="modal-title text-right"></h5>
                    <button type="button" class="close mr-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('set_row_status', action='move from not taken to taken') }}">
                        <input type="hidden" class="serial-number-not-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-not-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-not-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-success btn-lg btn-block mb-4" data-serial-number="" data-responseid="">העברה למחשבים שטופלו ונלקחו</button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='move from not taken to waiting') }}">
                        <input type="hidden" class="serial-number-not-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-not-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-not-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-secondary btn btn-block mb-1" data-serial-number="" data-responseid="">העברה למחשבים שלא טופלו</button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='delete') }}">
                        <input type="hidden" class="serial-number-not-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-not-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-not-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-danger btn btn-block delete-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-modal-taken" class="modal fade text-right alert-modal" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title-taken" class="modal-title text-right"></h5>
                    <button type="button" class="close mr-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('set_row_status', action='delete') }}">
                        <input type="hidden" class="serial-number-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-danger btn-lg btn-block delete-button  mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                        </button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='move from taken to not taken') }}">
                        <input type="hidden" class="serial-number-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-warning btn btn-block mb-1" data-serial-number="" data-responseid="">העברה למחשבים שטופלו ולא נלקחו</button>
                    </form>

                    <form method="post" action="{{ url_for('set_row_status', action='move from taken to waiting') }}">
                        <input type="hidden" class="serial-number-taken" name="serial_number" value="" readonly>
                        <input type="hidden" class="response-id-taken" name="response_id" value="" readonly>
                        <input type="hidden" class="email-taken" name="email" value="" readonly>
                        <button type="submit" class="btn btn-secondary btn btn-block" data-serial-number="" data-responseid="">העברה למחשבים שלא טופלו</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="static/js/script.js"></script>

</body>

</html>